NET "sw0" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET "sw1" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;
NET "sw2" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP ;
NET "sw3" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ;
NET "clk" LOC = "C9" | IOSTANDARD = LVCMOS33 ;

NET "spi_mosi" LOC = "T4" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "spi_sck" LOC = "U16" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "dac_cs" LOC = "N8" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "dac_clr" LOC = "P8" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
